@let itemValue = item(); @let selectedValue = selected();

<div [ngClass]="{ selected: selectedValue }" class="card">
  <div class="card-header">
    <h2 class="title">
      {{ itemValue.from | city : "long" }} - {{ itemValue.to | city : "long" }}
    </h2>
  </div>

  <div class="card-body">
    <p>Flight-No.: #{{ itemValue.id }}</p>
    <p>Date: {{ itemValue.date | date : "dd.MM.yyyy HH:mm" }}</p>

    @if(itemValue.delay) {
    <p class="text-danger"><strong>Delayed</strong></p>
    } @else {
    <p class="text-success"><strong>On Time</strong></p>
    }

    <p class="mt-30">
      <ng-content>
        @if (!selectedValue) {
        <button (click)="select()" class="btn btn-default">Select</button>
        } @if (selectedValue) {
        <button (click)="deselect()" class="btn btn-default">Remove</button>
        }

        <button
          [routerLink]="[
            '/flight-booking/flight-edit',
            itemValue.id,
            { showDetails: false }
          ]"
          class="btn btn-default"
        >
          Edit
        </button>
      </ng-content>
    </p>
  </div>
</div>
