<article class="msg assistant">
  <div class="avatar">🤖</div>
  <div>
    <div class="bubble">Hi! How can I help you?</div>
    <div class="meta"></div>
  </div>
</article>

@for (message of messages(); track message.id) {
<article class="msg assistant">
  <div class="avatar">{{ icons[message.role] }}</div>
  <div>
    @for(part of message.parts; track $index) { @switch (part.type) {
    @case('text') {
    <div class="bubble">
      <app-message [data]="part.text" />
    </div>
          <div class="meta"></div>

    } @case('tool-displayFlightTool') { @switch(part.state) {
    @case('input-available') { ... } @case('output-available') {
      <div class="bubble">
    <app-flight-widget
      [flight]="$any(part.input).flight"
      [status]="$any(part.input).status"
    />
    </div>
          <div class="meta"></div>

    } } } @case('step-start') { } @default {
    <div class="bubble">
      <div>{{ part.type }}</div>
    </div>
            <div class="meta"></div>

    } } }
  </div>
</article>
} @if (showIndicator()) {
<article class="msg assistant">
  <div class="avatar">🤖</div>
  <div>
    <div class="bubble">
      <div class="ai-wait-indicator">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</article>
}
