<div class="header">
  <h2 class="title">Flight Edit</h2>
</div>

@if (flight().id !== 0) {
<form class="flight-form" novalidate>
  <div class="form-group">
    <label for="flight-id">ID</label>
    <input class="form-control" id="flight-id" />
  </div>

  <div class="form-group">
    <label for="flight-from"> From </label>
    <input class="form-control" id="flight-from" />
  </div>

  <div class="form-group">
    <label for="flight-to"> To </label>
    <input class="form-control" id="flight-to" />
  </div>

  <!--
  <app-flight [flight]="flightForm"></app-flight>
  <app-prices [prices]="flightForm.prices"></app-prices>
  <app-aircraft [aircraft]="flightForm.aircraft"></app-aircraft>
  -->

  <div class="mt-40">
    <button class="btn btn-default" type="button" (click)="save()">Save</button>
  </div>
</form>
} @if(isPending()) {
<div class="overlay">
  <mat-progress-spinner mode="indeterminate" diameter="60">
  </mat-progress-spinner>
</div>
}
