<div class="header">
  <h2 class="title">Flight Edit</h2>
</div>

@if (loaded()) {
<pre>{{ flightForm().errors() | json }}</pre>

<form class="flight-form" novalidate>
  <div class="form-group">
    <label for="flight-id">ID</label>
    <input [control]="flightForm.id" class="form-control" id="flight-id" />
    <pre>{{ flightForm.id().errors() | json }}</pre>
  </div>

  <div class="form-group">
    <label for="flight-from"> From </label>
    <input [control]="flightForm.from" class="form-control" id="flight-from" />
    <pre>{{ flightForm.from().errors() | json }}</pre>
  </div>

  <div class="form-group">
    <label for="flight-to"> To </label>
    <input [control]="flightForm.to" class="form-control" id="flight-to" />
    <pre>{{ flightForm.to().errors() | json }}</pre>
  </div>

  <div class="form-group">
    <label for="flight-date">Date</label>
    <input
      [control]="flightForm.date"
      class="form-control"
      id="flight-date"
      type="datetime-local"
    />
  </div>

  <div class="form-group form-check">
    <label class="form-check-label">
      <input
        [control]="flightForm.delayed"
        type="checkbox"
        class="form-check-input"
        id="flight-delayed"
      />
      Delayed</label
    >
  </div>

  <div class="form-group form-check">
    <label for="delay">Delay</label>
    <input [control]="flightForm.delay" class="form-control" id="delay" />
  </div>

  <pre>{{ flight() | json }}</pre>

  <!--
  <app-flight [flight]="flightForm"></app-flight>
  <app-prices [prices]="flightForm.prices"></app-prices>
  <app-aircraft [aircraft]="flightForm.aircraft"></app-aircraft>
  -->

  <div class="mt-40">
    <button class="btn btn-default" type="button" (click)="save()">Save</button>
  </div>
</form>
}
