input {
  max-width: 400px;
}

.info {
  margin-bottom: 40px;
}

select {
  height: 40px;
  border: 1px silver solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

label {
  margin-bottom: 5px;
}

.success {
  margin: 10px 30px 20px 30px;
}

.preview-image {
  max-width: 300px;
  display: block;
  margin: 1rem 0;
}

.ai-wait-indicator {
  margin-left: 5px;
}
